# Build and Release Folders
bin/
bin-debug/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
.project
.actionScriptProperties
.flexProperties
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
FlexSparkMaterial/.flexProperties
FlexSparkMaterial/.flexProperties
FlexSparkMaterial/.actionScriptProperties
